@import "tailwindcss";

:root {
  --background: color-mix(in oklab, var(--foreground) 2%, #ffffff);
  --foreground: #171717;

  --z-toast: 200;
  --z-dialog: 100;
  --z-navbar-sticky: 55;
  --z-navbar-fixed: 50;

  --header-h: 3.5rem;

  --dialog-w: 20rem;
  --dialog-wide-w: 24rem;
  
}

@theme inline {
  --color-background: var(--background);

  --color-foreground: var(--foreground);
  --color-foreground-body: color-mix(in oklab, var(--color-foreground) 75%, var(--color-background));
  --color-border: color-mix(in oklab, var(--color-foreground) 5%, var(--color-background));

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  
  --breakpoint-xs: 480px;
  --breakpoint-xxs: 320px;

  --text-xxs: 0.625rem; /* 10px */

  --animate-fade-in: fadeIn 0.15s forwards; 
  --animate-dialog-in: fadeIn 0.25s forwards; 

  --animate-toast: bannerIn 0.25s forwards,
                   bannerOut 0.25s 2.5s forwards;

  --animate-toast-check: popIn 0.4s cubic-bezier(.64,2.18,.62,1) forwards;

  @keyframes bannerIn {
    from { 
      opacity: 0%;
      transform: translateY(-50%) scale(0.75); 
    }
    to   { 
      opacity: 100%;
      transform: translateY(0%) scale(1); 
    }
  }

  @keyframes bannerOut {
    from { 
      opacity: 100%;
      transform: translateY(0%); 
    }
    to { 
      opacity: 0%;
      transform: scale(0.9);
    }
  }
  @keyframes popIn {
    from { transform: scale(0); }
    to   { transform: scale(1); }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @keyframes dialogIn {
    from { opacity: 0; transform: translateY(10%); }
    to   { opacity: 1; transform: translateY(0%); }
  }
  @keyframes dialogOut {
    from { opacity: 1; transform: translateY(0%); }
    to   { opacity: 0; transform: translateY(10%); }
  }
}





body {
  /* @apply bg-foreground/2; */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body:has(.modal-opened) {
  overflow: hidden;
}


/* - Tailwind Tips - */
/* Putting it in layer components makes it possible */
/* to override in classNames */
@layer components {

  .banner {
    @apply fixed top-0 left-0 w-screen px-4 py-3 text-xs rounded-b-xl shadow-xl z-(--z-toast)
  } 
  .banner.error {
    @apply bg-red-100 text-red-500
  }

  .toast-container{
    @apply bg-transparent
    z-(--z-toast) fixed top-0 left-0
    flex flex-col gap-2 items-center
    w-screen
    p-4 pt-16
  }

  .toast-item {
    @apply p-2 px-4 flex gap-3 items-start
    bg-foreground text-background
    shadow-xl rounded-xl 
    
  }
  

  .banner.success {
    @apply bg-emerald-400/10 text-emerald-700 font-normal backdrop-blur-xs
  }
  
  .button {
    @apply 
    border border-foreground/10 
    p-1.5 px-3.5 rounded-md
    text-sm 
    inline-flex gap-1 justify-center
  
    self-start
  
    font-medium
    text-foreground-body
    bg-background
    hover:bg-foreground/3 
    active:bg-foreground/5
  
    cursor-pointer
    
    disabled:pointer-events-none
    disabled:bg-foreground/2

    focus-visible:outline-4
    focus-visible:outline-foreground/10
    focus-visible:ring-offset-0
    focus-visible:outline-offset-0

    shadow-xs
    active:shadow-none
    active:translate-y-px

    text-nowrap
  }
  .button.inline {
    @apply -mx-3.5
  }

  .button.floating {
    @apply shadow-md bg-background z-10
    hover:bg-[color-mix(in_oklab,_var(--color-foreground)_3%,_var(--color-background))] 
    active:bg-[color-mix(in_oklab,_var(--color-foreground)_5%,_var(--color-background))] 
    disabled:bg-[color-mix(in_oklab,_var(--color-foreground)_2%,_var(--color-background))] 
  }
  .button.lg {
    @apply p-2 px-3.5 rounded-lg
  }

  .button.primary {
    @apply font-medium
    shadow-md
    border-foreground
    bg-foreground text-background 
    hover:bg-foreground/90 active:bg-foreground/80;
  }
  .button.secondary { 
    @apply font-medium
    border-transparent
  
    bg-foreground/2 text-foreground-body/75
    hover:bg-foreground/4 active:bg-foreground/6;
  }
  .button.ghost {
    @apply border-none 
    bg-background text-foreground-body/60
    hover:bg-foreground/3 hover:text-foreground-body/75
    active:bg-foreground/5
    shadow-none
  }
  .button.small {
    @apply p-1.5 px-3 text-xs rounded-md
  }
  .button.small.inline {
    @apply -mx-3
  }
  .button.destructive {
    @apply border-red-200 text-red-600
    hover:bg-red-50 active:bg-red-100;
  }
  .button.destructive-primary {
    @apply text-background bg-red-500/75 font-medium border-transparent
    hover:bg-red-500/70 active:bg-red-500/75;
  }
  .button .icon {
    @apply self-center 
  }
  .button.ghost .icon {
    /* @apply text-current/50 */
  }
  

  .label {
    @apply text-xs
  }
  .input-group {
    @apply flex flex-col gap-0.5
  }
  .input {
    @apply border border-foreground/15 p-2 px-2.5 rounded-md
    focus-visible:outline-none!
    focus-within:outline-none!
    /* bg-foreground/2 */
    bg-background
    focus-within:border-foreground/20
    focus-within:shadow-xs
  }
  .input.as-box {
    @apply flex items-center
    [&_input]:p-1 [&_input]:-my-1;
  }

  .label-helper {
    @apply text-[0.65rem] text-foreground-body 
  }
  .input.small {
    @apply py-1 text-sm
  }

  input {
    @apply focus-visible:outline-none
  }
  input::placeholder {
    @apply text-foreground-body/25
  }
  .breadcrumb {
    @apply flex gap-2 mb-2 text-foreground-body text-xs 
  }
  .card {
    @apply rounded-md p-4 flex gap-2 bg-background border border-border
  }
  .callout {
    @apply rounded-md px-3 py-2 text-xs max-w-80
  }
  .callout.error {
    @apply bg-red-100 text-red-500
  }
  .callout.success {
    @apply bg-emerald-100 text-emerald-700
  }

  .category {
    @apply max-w-120 flex flex-col gap-3
  }
  .category-header {
    @apply text-pretty text-xs text-foreground-body/40 font-medium py-1  flex flex-col gap-0.5
  }

  hr {
    @apply border-foreground-body/10
  }

  .list {
    @apply flex flex-col p-1
    border border-border rounded-xl bg-background
  }
  .list-row {
    @apply flex flex-row items-center p-3 gap-1 grow min-w-0 text-start w-full
    hover:bg-foreground/5 rounded-lg relative
    active:bg-foreground/8
  }
  .list-empty {
    @apply text-xs p-2 text-foreground-body/80
  }
  /* .button.list-add {
    @apply border-none self-stretch text-start text-xs flex gap-2 justify-start
    -mx-2 px-4 block -mb-2 pb-4 leading-0
  } */

  .page-header{
    @apply max-w-120
  }
  .page-h1 {
    @apply text-2xl font-semibold tracking-tight break-words;
  }
  .page-h2 {
    @apply text-xl font-semibold tracking-tight break-words;
  }
  .page-subtitle {
    @apply text-xs text-foreground-body leading-normal
  }
  .page-subtitle-code {
    @apply font-mono text-xs tracking-tight text-foreground-body
  }



}