@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-backgroud-hover: color-mix(in oklab, var(--color-background) 97%, var(--color-foreground));
  --color-backgroud-active: color-mix(in oklab, var(--color-background) 95%, var(--color-foreground));

  --color-foreground: var(--foreground);
  --color-foreground-body: color-mix(in oklab, var(--color-foreground) 75%, var(--color-background));
  --color-border: color-mix(in oklab, var(--color-foreground) 25%, var(--color-background));


  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* - Tailwind Tips - */
/* Putting it in layer components makes it possible */
/* to override in classNames */
@layer components {
  
  .button {
    @apply block
    border border-border 
    p-1.5 px-3.5 rounded-md
    text-sm 
    flex gap-1 justify-center
  
    self-start
  
    text-foreground-body
    bg-background hover:bg-backgroud-hover active:bg-backgroud-active
  
    cursor-pointer
    
    disabled:pointer-events-none
    disabled:bg-backgroud-hover
    ;
  }
  .button.lg {
    @apply p-2 px-3.5 rounded-lg
  }
  .button.primary {
    @apply font-medium
    shadow-md
    border-foreground
    bg-foreground text-background 
    hover:bg-foreground/90 active:bg-foreground/80;
  }
  .button.ghost {
    @apply border-none
  }
  .button.small {
    @apply p-1 px-2.5 text-xs rounded-md
  }
  .button.destructive {
    @apply border-red-300 text-red-600
    hover:bg-red-50 active:bg-red-100;
  }
  .button.list {
    @apply border-none w-full text-start text-xs flex gap-2 justify-start;
  }
  .button .icon-end {
    @apply ml-1
  }
  

  .label {
    @apply text-xs text-foreground-body
  }
  .input-group {
    @apply flex flex-col gap-0.5
  }
  .input {
    @apply border border-border p-2 rounded-md
    focus-visible:outline-none!
    focus-within:outline-none!
    bg-background
  }
  .label-helper {
    @apply text-[0.65rem] text-foreground-body mb-1.5
  }
  .input.small {
    @apply py-1 text-sm
  }

  input {
    @apply focus-visible:outline-none
  }
  input::placeholder {
    @apply text-foreground-body/25
  }
  .breadcrumb {
    @apply flex gap-2 mb-2 text-foreground-body text-xs
  }
  .card {
    @apply rounded-md p-4 flex gap-2 bg-foreground-body/5
  }
  .callout {
    @apply rounded-md px-4 py-2 text-xs max-w-80
  }
  .callout.error {
    @apply bg-red-100 text-red-500
  }
  .callout.success {
    @apply bg-emerald-100 text-emerald-700
  }

  .category {
    @apply max-w-120 flex flex-col gap-4
  }
  .category-title {
    @apply text-pretty text-sm text-foreground-body py-1 -my-2.5
  }

  hr {
    @apply border-foreground-body/10
  }

  .page-header{
    @apply max-w-120
  }
  .page-h1 {
    @apply text-2xl font-semibold tracking-tight;
  }
  .page-subtitle {
    @apply text-xs text-foreground-body leading-normal
  }
  .page-subtitle-code {
    @apply font-mono text-xs tracking-tight text-foreground-body
  }



}